<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="login-form">
                <h4 class="org-name">5D Solutions</h4>
                <h4 class="mt-5">Create Moment Assignment by 5D Solutions</h4>
                <p class="text-muted">Welcome back, Please login to your account</p>
                <div class="login-card mt-5">
                    <form #login="ngForm" (ngSubmit)="onSubmit(login)" novalidate>
                        <div class="form-group">
                            <input type="text" name="fullName" class="form-control custom-input" placeholder="Full Name"
                                ngModel required #fullName="ngModel" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="city" class="form-control custom-input" placeholder="City" ngModel
                                required #city="ngModel" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control custom-input" placeholder="Email"
                                ngModel required #email="ngModel" [email]="true" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control custom-input" ngModel required
                                #email="ngModel" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn custom-login-button mr-4"> <fa-icon *ngIf="loader" [icon]="faSpinner" class="edit-icon mr-2"></fa-icon> Sign Up</button>
                            <a [routerLink]="['']" class="custom-login-link">
                                Already Created Account? <span><a >Login</a></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-banner"></div>
    </div>
</div>