<div class="container-fluid">
    <div class="row margin-t-7em">
        <div class="col-md-6 offset-md-3 card">
            <label class="text-center pt-2">Add Moment</label>
            <div class="login-card mt-5">
                <form #add="ngForm" (ngSubmit)="onSubmit(add)" novalidate>
                    <div class="form-group image-row">
                        <input type="file" name="image" (change)="getImage($event)" class="custom-file" ngModel required
                            #image="ngModel" />
                        <img *ngIf="base64" src="{{base64}}" class="preview" />
                    </div>
                    <div *ngIf="showError" class="error-text">File Must be only Image</div>
                    <div class="form-group">
                        <input type="text" maxlength="100" name="comment" class="form-control custom-input"
                            placeholder="Comment" ngModel required #comment="ngModel" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="tags" class="form-control custom-input"
                            placeholder="Tags (Please add tags by , separator)" ngModel required #tags="ngModel" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn custom-login-button mr-4"> <span>
                                <fa-icon *ngIf="loader" [icon]="faSpinner" class="spinner-icon mr-2"></fa-icon>
                            </span> Add</button>
                        <button type="button" [routerLink]="['/list-moment']" class="btn custom-signup-button">
                            Back
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>