<div class="container-fluid">
    <div class="row margin-t-7em">
        <div class="col-md-6 offset-md-3 card">
            <label class="text-center pt-2">Update Moment</label>
            <div class="login-card mt-5">
                <form #edit="ngForm" (ngSubmit)="onSubmit(edit)" novalidate>
                    <div class="form-group image-row">
                        <input type="file" name="image" (change)="getImage($event)" class="custom-file" ngModel required
                            #image="ngModel" />
                        <img src="{{base64 ? base64:metaData.image}}" class="preview" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="comment" class="form-control custom-input" placeholder="Comment"
                            [(ngModel)]="metaData.comment" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="tags" class="form-control custom-input" placeholder="Tags"
                            [(ngModel)]="metaData.tags" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn custom-login-button mr-4">Update</button>
                        <button type="button" [routerLink]="['/list-moment']" class="btn custom-signup-button">
                            Back
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>