<div class="container card">
    <div class="row card-body">
        <div class="col-md-12">
            <button class="btn custom-login-button float-right" type="button" [routerLink]="['/add-moment']">Add
                +</button>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hovered table striped">
                    <thead>
                        <tr>
                            <th>Sr.NO</th>
                            <th>Avatar</th>
                            <th>Date</th>
                            <th>Tags</th>
                            <th>Comments</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of momentData;let i = index ">
                            <td>{{i + 1}}</td>
                            <td>{{item.image}}</td>
                            <td>{{item.createAt}}</td>
                            <td>{{item.tags}}</td>
                            <td>{{item.comment}}</td>
                            <td>
                                <button class="btn btn-outline-info mr-2" (click)="editMoment(item._id)">Edit</button>
                                <button class="btn btn-outline-danger" (click)="deleteMoment(item._id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>