/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";
body{
  background-color: #dee2e6;
}
.custom-input {
  border-radius: 0px;
  height: 50px;
}
.custom-input:focus {
  box-shadow: none;
}
.font-size-08em{
  font-size: .8em;
}
.custom-login-button {
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // width: 100px;
  background: #17a2b8;
  color: #fff;
}
.custom-signup-button {
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100px;
  border: 1px solid #17a2b8;
  color: #17a2b8;
}
.toast-error {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.toast-info {
  background-color: #17a2b8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.toast-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 0.8em;
}
.toast-container .ngx-toastr {
  padding: 10px;
  padding-left: 4em;
}
.custom-file {
  color: #000 !important;
}
.custom-file:focus {
  outline: none !important
}
.custom-file::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file::before {
  content: "Browse Image";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file:hover::before {
  border-color: black;
}
.custom-file:active {
  outline: 0;
}
.custom-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.preview{
    height: 100px;
    width: 160px;
    border: 1px solid #cdc6c6;
}
.image-row{
    display: flex;
    align-items: center;
}
.error-text{
    color: red;
    font-size: 10px;
    font-weight: bold;
}
.moment-image{
  height: 30px;
  width: 50px;
  object-fit: cover;
}
.card-table{
  box-shadow: none;
  padding: 2em;
  background: #fff;

}

.edit-icon{
  color: #17a2b8;
  cursor: pointer;
}
.delete-icon{
  color: #ff0000a6;
  cursor: pointer;
}
.action-col{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.margin-t-7em{
  margin-top: 7em;
}
.spinner-icon{
  columns: #fff;
}
.register-buttons{
}