/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
.custom-input{
    border-radius: 0px;
    height: 50px;
}
.custom-input:focus{
    box-shadow: none;
}
.custom-login-button{
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100px;
    background: #17a2b8;
    color: #fff;
}
.custom-signup-button{
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100px;
    border:1px solid #17a2b8;
    color: #17a2b8;
}
.toast-error{
    background-color: #17a2b8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.toast-title{
    color: #ffffff;
    font-weight: 500;
    font-size: .8em;
}
.toast-container .ngx-toastr{
    padding: 10px;
    padding-left: 4em;
}